<div class="form-group">
  <%= f.label :email, 'メールアドレス', class: '' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password, 'パスワード', class: '' %>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, 'パスワードの確認', class: '' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :is_admin, 'admin', class: '' %>
  <%= f.check_box :is_admin, class: 'form-control' %>
</div>
<%= f.fields_for :profile do |p| %>
    <div class="form-group">
      <%= p.label :name, '名前', class: '' %>
      <%= p.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :term, 'トビタテ', class: '' %>
      <%= p.select :term, %w(1 2 3 4 5 6 7 8 9 10 11 12), include_blank: false, class: 'form-control' %>期
    </div>
<% end %>
<%= f.submit '登録する', class: 'btn btn-primary' %>