<div id="portfolio-item">
  <div id="st-container">
    <div id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="project">
              <h1>
                <%= @project.title %>
              </h1>

              <div class="col-md-7 screens">

                <%= image_tag(@project.main_image, :class => 'img-responsive') %>

                <p class="text">
                  <%= @project.description %>
                </p>

              </div>
              <div class="col-md-4 col-md-offset-1 description">
                <div class="info">

                  <p>
                    <strong>Person:</strong>
                    <%= @profile.name %>
                  </p>

                  <p>
                    <strong>Tobitate:</strong>
                    <%= @profile.term %>
                  </p>

                  <p>
                    <strong>Organization:</strong>
                    <!-- TODO: edit later -->
                    brabrabra
                  </p>
                  <p>
                    <strong>Established:</strong>
                    <!-- TODO: edit later -->
                    2000/01/01
                  </p>
                  <p>
                    <strong>Link:</strong>
                    <%= link_to '公式サイト', @project.url, :target => '_blank' %>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        // Makes the description section to be fixed after scrolling down the page
        var $info = $(".project .info");
        var infoOffset = $info.offset().top - 35;
        var infoWidth = $info.width();
        $(document).scroll(function () {
            var bodyOffset = $("body").scrollTop();
            if (bodyOffset >= infoOffset) {
                $info.addClass("stick");
                $info.css("width", infoWidth);
            } else {
                $info.removeClass("stick");
                $info.removeAttr("style");
            }
        });

        // Triggers the off-canvas panel
        $("#trigger").click(function (e) {
            e.stopPropagation();
            $(".st-container").toggleClass("nav-effect");
        });
        $(".st-pusher").click(function () {
            $(".st-container").removeClass("nav-effect");
        });
    });
</script>
