<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag(@project.main_image, :class => 'img-fluid d-block mb-4 w-100 img-thumbnail') %>
        <p>
          <strong>代表者:</strong>
          <%= @profile.name %>
        </p>

        <p>
          <strong>トビタテ:</strong>
          <%= @profile.term %>
          期生
        </p>
        <% if @project.organization %>
            <p>
              <strong>組織名:</strong>
              <%= @project.organization %>
            </p>
        <% end %>
        <% if @project.established_at %>
            <p>
              <strong>設立日:</strong>
              <%= @project.established_at.strftime('%Y年%m月%d日') %>
            </p>
        <% end %>
        <% if @project.url %>
            <p>
              <strong>リンク:</strong>
              <%= link_to '公式サイト', @project.url, :target => '_blank' %>
            </p>
        <% end %>
      </div>

      <div class="col-md-7">
        <h2 class="text-primary pt-3"><%= @project.title %></h2>
        <p class="">
          <%= auto_link(markdown(@project.description), :html => { :target => '_blank' }) %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-primary text-white" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>問い合わせ</h1>
        <p>要件のある方は代表者に連絡しましょう</p>
        <form>
          <div class="form-group"> <label for="InputName">お名前</label>
            <input type="text" class="form-control" id="InputName" placeholder="Your name"> </div>
          <div class="form-group"> <label for="InputEmail1">メールアドレス</label>
            <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email"> </div>
          <div class="form-group"> <label for="Textarea">問い合わせ内容</label>
            <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea> </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>