<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
        <div class="card text-white p-5 bg-primary">
          <div class="card-body">
            <h1 class="mb-4">ログイン</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                  <% end -%>
                </div>
                <%= f.submit 'ログイン', class: 'btn btn-secondary' %>
            <% end %>

          </div>
          <div class="card-footer">
            <div class="already-account">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>