<!DOCTYPE html>
<html>
<head>
  <title>Tomarigi</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag('favicon.ico') %>
</head>
<style>
  html {
    height: 100%;
    background: #5E7A9B;
    background: -webkit-linear-gradient(top, #355069 0, #5E7A9B 100%);
    background: -moz-linear-gradient(top, #355069 0, #5E7A9B 100%);
    background: -o-linear-gradient(top, #355069 0, #5E7A9B 100%);
    background: linear-gradient(top, #355069 0, #5E7A9B 100%);
  }
</style>
<body>
<%= yield %>
<%= render 'layouts/analytics' %>
</body>
</html>
