<!-- user/application -->
<!DOCTYPE html>
<html>
<head>
  <title>Tomarigi Portfolio</title>
  <%= render 'layouts/meta' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'user/application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <%= favicon_link_tag('favicon.ico') %>
  <%= render 'layouts/analytics' %>
  <%= render 'layouts/shim' %>
</head>

<body>
<%= render 'layouts/header' %>
<%= render 'shared/flash' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
