<div class="form-group">
  <%= f.label :title, 'プロジェクト名' %>
  <%= f.text_field :title, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :main_image, 'メイン画像' %> <small>570px:390px推奨</small>
  <%= f.file_field :main_image, class: 'form-control' %>
  <%= f.hidden_field :main_image_cache %>
</div>
<div class="form-group">
  <%= f.label :description, '紹介文' %>
  <%= f.text_area :description, class: 'form-control', rows: 10, required: true %>
</div>
<div class="form-group">
  <%= f.label :organization, '組織名' %>
  <%= f.text_field :organization, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :established_at, '設立日' %>
  <%= f.text_field :established_at, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :url, '公式リンク' %>
  <%= f.text_field :url, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :is_published, '公開' %>
  <%= f.check_box :is_published, value: true %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        // DOM のレンダリングよりjsの読み込みの方が早いので100ms遅くする
        setInterval(function () {
            put_value();
            renderTitle();
        }, 100);

        $('#project_established_at').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        autosize($('#project_description'))
    });

    var $textarea = $('#project_description');
    var converter = new (showdown.Converter);

    $(document).on('keyup', 'input, textarea', function() {
        put_value();
        renderTitle();
    });

    $('#project_main_image').on('change', function (e) {
        renderImg(e);
    });

    function renderTitle() {
        var val = $('#project_title').val();
        $('#_project_title').text(val);
    }

    function renderImg(e) {
        e = e.originalEvent;
        var target = e.dataTransfer || e.target;
        var file = target && target.files && target.files[0];

        var $preview = $('#_img_preview');

        var reader = new FileReader();
        reader.onload = function (e) {
            $preview.empty();
            $preview.attr('src', e.currentTarget.result)
        };
        reader.readAsDataURL(file);
    }

    function put_value() {
        var val = $textarea.val();
        var html = converter.makeHtml(val);
        $('#markdown-preview').html(html);
    }
</script>