<div class="form-group">
  <%= f.label :title, 'プロジェクト名' %>
  <%= f.text_field :title, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <!-- TODO: add file input -->
  <%= f.label :main_image, 'メイン画像' %> <small>570px:390px推奨</small>
  <%= f.text_field :main_image, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :description, '紹介文' %>
  <%= f.text_area :description, class: 'form-control', rows: 10, required: true %>
</div>
<div class="form-group">
  <%= f.label :is_published, '公開' %>
  <%= f.check_box :is_published, value: true %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        // DOM のレンダリングよりjsの読み込みの方が早いので100ms遅くする
        setInterval(function () {
            put_value();
            renderImg();
            renderTitle();
        }, 100)
    });

    var $textarea = $('#project_description');
    var converter = new (showdown.Converter);

    $(document).on('keyup', 'input, textarea', function() {
        put_value();
        renderImg();
        renderTitle();
    });

    function renderTitle() {
        var val = $('#project_title').val();
        $('#_project_title').text(val);
    }

    function renderImg() {
        var url = $('#project_main_image').val();
        $('#_img_preview').attr('src', url)
    }

    function put_value() {
        var val = $textarea.val();
        var html = converter.makeHtml(val);
        $('#markdown-preview').html(html);
    }
</script>