<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <%= link_to 'Tobitate Portfolio β', root_path, :class => 'navbar-brand' %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'プロジェクト一覧', projects_path, :class => 'nav-link' %></li>
      </ul>
      <form class="form-inline mx-3" action="<%= projects_path %>" method="get">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="commit" value="検索！">
        <input class="form-control mr-2" type="text" name="q[title_or_description_cont]" placeholder="好きな文字で検索...">
        <button class="btn btn-primary" type="submit">検索</button>
      </form>
      <% if user_signed_in? %>
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          メニュー
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'プロジェクト', user_projects_path, :class => 'dropdown-item' %>
          <%= link_to 'プロフィール', user_profile_index_path, :class => 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <% if current_user.admin? %>
              <%= link_to 'ユーザー管理', admin_user_index_path, :class => 'dropdown-item' %>
          <% end %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
        </div>
      </div>
      <% else %>
          <%= link_to 'ログイン', new_user_session_path, :class => 'nav-link text-white' %>
      <% end %>
    </div>
  </div>
</nav>